node_modules/
dist/

.env
.env.*
!.env.example

venv/
venv-linux/
.venv/
backend/venv311/
__pycache__/
*.pyc
*.pyo

logs/
*.log

uploads/
backend/uploads/

*.db
*.sqlite
*.sqlite3

.DS_Store
Thumbs.db
.vscode/
.idea/
frontend/face-api-models/
